{% load static staticfiles %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{{ object.get_title }}{% endblock %}</title>
    <meta name="title" content="{% block meta-title %}{% if object.meta_title %}{{ object.meta_title }}{% else %}{% endif %}{% endblock %}"/>
    <meta name="keywords" content="{% block meta-keywords %}{{ object.meta_keywords }}{% endblock %}"/>
    <meta name="description" content="{% block meta-description %}{% if object.meta_description %}{{ object.meta_description }}{% else %}{% endif %}{% endblock %}"/>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block style %}

    {% endblock style %}
</head>
<body>
<div class="wrapper">
    {% include 'header.html' %}
    <div class="content_wrapper">
        {% block page %}

        {% endblock page %}
    </div>
    <footer>
        <div class="social">
            <a target="_blank" href="http://www.facebook.com/GiftBe.ru" rel="nofollow">
                <img class="facebook" src="{% static 'img/facebook.png' %}" alt="">
            </a>
            <a target="_blank" href="http://www.vk.com/gyngy" rel="nofollow">
                <img src="{% static 'img/vkontakte.png' %}" alt="">
            </a>
            <a target="_blank" href="https://twitter.com/giftberu" rel="nofollow">
                <img class="twitter" src="{% static 'img/twitter.png' %}" alt="">
            </a>
            <a target="_blank" href="http://www.instagram.com/giftbe.ru" rel="nofollow">
                <img class="instagram" src="{% static 'img/instagram.png' %}" alt="">
            </a>
        </div>
        <div class="copyright">
            <span>GiftBe.ru — сувенирная продукция с логотипом компании. Москва.</span><br>
            <a href="/sitemap/">КАРТА САЙТА</a>. ООО «ДЖИНЖЕР ЭДЖЕНСИ», 2012–2017
        </div>
    </footer>
</div>
    {% block script %}

    {% endblock script %}
</body>
</html>